
.main-msg-container {
    display: flex;
    background-color: #ffcc32;
    padding: 2rem;
    transform:skew(0deg,-2deg);
    margin-top: 1rem;
}

.yllw{
    background-color: #ffcc32;
}

.purp{
    background-color: #7f1bb6;
}

.left-column-msg img {
    width: 90%;
    height: auto;
}
.left-column-msg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-column-msg {
    flex: 4;
    color: white;
    line-height: 0.8;
    transform:skew(0deg,+2deg);
}

.name-msg-name{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.name-msg-name{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.msg-content {
    padding-top: 2rem;
    line-height: 1.2;
    font-size: 1.25rem;
    text-align: justify;
    white-space: pre-wrap;
}

.toggle-button-msg{
    color: black;
    text-decoration: underline;
}
.toggle-button-msg:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1000px){
    .left-column-msg{
        display: flex;
        justify-content: space-around;
        /* flex-direction: column; */
    }
    .left-column-msg img{
        width: 100%;
        height: auto;
    }
    .main-msg-container {
        flex-direction: column;
    }

    .msg-details{
        padding-left: 2rem;
        flex: 3;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: start;
        transform:skew(0deg,+2deg);
    }
    .msg-details-img{
        flex: 2;
    }
    .msg-details p:nth-child(1){
        font-size: 2rem;
    }
    .msg-details p:nth-child(2){
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 450px){
    .left-column-msg{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .msg-details{
        padding-left: 0rem;
    }
    .msg-details p:nth-child(1){
        font-size: 1.5rem;
    }
    .msg-details p:nth-child(2){
        font-size: 1rem;
    }
}