@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


.yellow_boxes{
    display: flex;
    flex-direction: row;
    width:100vw;
    align-items: center;
    justify-content: center;
}
.box2{
    width: 70%;
    border: 2px solid black;
    margin-left: 3%;
    margin-right: 3%;
    padding: 4% 4% 4% 4%;
}

.box2 p{
    line-height: 1;
    font-family: 'Outfit',sans-serif;
    font-size: 20px;
    font-weight:300;
    line-height: 25.2px;
}

.text{
    text-align: center;
}
.lastText{
    font-family:"Times New Roman"; 
    font-style:italic; 
    font-weight:bold;
}