.cricketScore {
    border-right: 10px solid #ffb800;
    border-left: 10px solid #ffb800;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.ScoreInfo {
    display: flex;
    justify-content: space-between;
    background-color: #fff7e0;
    align-items: center;

    padding: 1.8vw 2vw ;
}

.cricketScore .ScoreInfo:nth-child(2) {
    background-color: #ffeebd;
}

.teamImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.teamlogo {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.desc {
    font-family: 'Outfit';
    font-weight: 500;
    color: black;
    justify-content: center;
}

.Information {
    display: flex;
    gap: 0.1rem;
    align-items: end;
    justify-content: end;
    flex: 4;
}

.InfoText {
    transform: skew(15deg);
}

.Score {
    font-size: 1rem;
    font-family: "SF Sports Night";
    font-weight: 400;
    color: white;
    background-color: #ee0942;
    height: 50%;
    padding: 0.4vw 2vw;
    transform: skew(-15deg);
}

.Over {
    font-size: 1rem;
    font-weight: 400;
    font-family: "SF Sports Night";
    color: white;
    background-color: #3f3f43;
    height: 50%;
    padding: 0.2vw 1.5vw;
    transform: skew(-15deg);
}



.BlackFooter {
    font-size: 1rem;
    font-family: "Outfit";
    color: white;
    background-color: #1f1f21;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width: 768px){
    .ScoreInfo{
       flex-direction: column;
       padding-bottom: 1.5vh;
     
    }
    .BlackFooter{
        font-size: 0.8rem;
    }
    
}