.sports-container {
    --ratio: 3/2;
    transition: all 0.3s;
}

.expanded {
    --ratio: 3/3.2;
}

.sports-container {
    --primary-color: #ffcc32;
    --secondary-color: #ee0942;
    border: 2px solid var(--secondary-color);
    display: flex;
    background-color: white;
    width: 35vw;
    height: fit-content;
    aspect-ratio: var(--ratio);
}

.red {
    --primary-color: #ee0942;
    --secondary-color: #7f1bb6;
}

.yellow {
    --primary-color: #ffcc32;
    --secondary-color: #ee0942;
}

.purple {
    --primary-color: #7f1bb6;
    --secondary-color: #ffcc32;
}

.sports-heading {
    margin-top: 2.5rem;
    font-family: 'SF Sports Night';
    color: var(--primary-color);
    font-size: 2.9vw;
    max-width: 100%;
}

.reg {
    margin-top: 1vh;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.reg img {
    margin-right: 5px;
    height: 1.8vw;
}

.reg-text {
    font-family: 'SF Sports Upright';
    font-size: 2.4vw;
    color: black;
    margin: 0 5px;
    margin-bottom: 1px;
}

.left-column {
    flex: 1;
    margin-left: 1vw;
    width: 60%;
    max-height: 100%;
}

.right-column {
    width: 40%;
    flex: 1;
    overflow: hidden;
}

.right-column img {
    height: auto;
    width: auto;
    max-width: 100%;
    float: right;
    transition: none;
}

.fee {
    border: 1px solid black;
    line-height: 0.8;
    display: flex;
    color: #000;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding: 10px 0;
    width: 100%;
}

.fees {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5vw;
    font-family: 'SF Sports Upright';
}

.team {
    color: black;
    font-size: 0.75vw;
    font-family: 'DM Sans';
}

.cate {
    color: black;
    font-size: 1.1vw;
    font-family: 'SF Sports Upright';
}

.cate-fees {
    color: var(--primary-color);
    font-size: 1.1vw;
    font-family: 'DM Sans';
}

.buttons {
    display: flex;
    justify-content: start;
    margin-top: 1vh;
    width: 100%;
}

.primary-s {
    background-color: var(--primary-color);
    background-color: var(--primary-color);
    color: white;
    border-radius: 2px;
    font-size: 1.5vw;
    padding: 0.5vw 0.5vw;
    margin-top: 1vw;
    margin-right: 1vw;
}

.secondary {
    border: var(--primary-color) 2px solid;
    background-color: white;
    color: var(--primary-color);
    border-radius: 2px;
    font-size: 1.5vw;
    padding: 0.5vw 0.5vw;
    margin-top: 1vw;
}

.details {
    color: black;
    font-size: 16px;
    font-family: 'DM Sans';
    max-width: 100%;
    max-height: 50%;
}

.amount {
    color: black;
    font-size: 1.1vw;
    font-family: 'DM Sans';
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}

.winner {
    margin-right: 0.5rem;
}

.runner {
    margin-left: 0.5rem;
}

.schedule {
    display: flex;
    margin-bottom: 10px;
    vertical-align: baseline;
}

.sch-text {
    color: black;
    font-size: 1.1vw;
    font-family: 'DM Sans';
    margin-right: 0.25rem;
}

a {
    font-size: 1.1vw;
}

a:active {
    color: var(--primary-color);
    text-decoration: underline;
}

a:link {
    color: var(--primary-color);
    text-decoration: underline;
}

a:visited {
    color: var(--primary-color);
    text-decoration: underline;
}

a:hover {
    color: var(--secondary-color) !important;
    text-decoration: underline;
}

.info {
    display: flex;
    font-size: 1.1vw;
    justify-content: start;
    flex-direction: column;
}

.vertical-line {
    border-left: 1.5px solid var(--primary-color);
    height: auto;
}

.cinfo {
    flex: 1;
    display: flex;

}
.image{
    transition: none;
}
.cinfo p {
    padding: 0rem 0.2rem;
}

.cname {
    font-weight: 700;
}

.hr {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.coord-text {
    color: black;
    font-size: 16px;
    font-family: 'DM Sans';
}

.container {
    max-width: 100%;
    width: auto;
    max-height: 50%;

}

@media only screen and (max-width: 1330px) {
    .expanded {
        --ratio: 3/3.5;
    }

}

@media only screen and (max-width: 1160px) {
    .sports-container {
        --ratio: 4/2.5;
    }
    .sports-heading {
        margin-top: 2vw;}

    .expanded {
        --ratio: 3/3.5;
    }
}

@media only screen and (max-width:1000px) {
    .sports-container {
        width: 70vw;
        --ratio: 2/1.2;
    }

    .expanded {
        --ratio: 3/3;
    }
    .sports-heading {
        font-size: 4.5vw;
    }

    .reg img {
        height: 2.5vw;
    }

    .reg-text {

        font-size: 3.5vw;
    }

    .primary-s {
        font-size: 2.2vw;
        padding: 1.4vw 1.4vw;
        margin-top: 2.5vw;
        margin-right: 1vw;
    }

    .secondary {
        font-size: 2.2vw;
        padding: 1.4vw 1.4vw;
        margin-top: 2.5vw;
    }
    .fees {
        font-size: 3vw;
    }

    .fee {
        padding: 5px 0;
        justify-content: space-around;
    }

    .team {
        font-size: 1.5vw;
    }

    .cate {
        font-size: 2.2vw;
    }

    .cate-fees {
        font-size: 2.2vw;
    }

    .sch-text {
        font-size: 2vw;
    }

    a {
        font-size: 2vw;
    }

    .prize {
        font-size: 2vw;
    }

    .winner {
        font-size: 2vw;
    }

    .runner {
        font-size: 2vw;
    }

    .coord-text {
        font-size: 2vw;
    }

    .cinfo {
        font-size: 2vw;
    }
    .hr {
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;

    }
}

@media only screen and (max-width: 730px) {
    .sports-container {
        --ratio: 3/2.2;
    }

    .expanded {
        --ratio: 3/3.2;
    }
    .hr {
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;

    }
}

@media only screen and (max-width: 400px) {
    .sports-container {
        --ratio: 3/2.3;
    }

    .expanded {
        --ratio: 3/4;
    }

    .sports-heading {
        font-size: 4.5vw;
    }

    .reg img {
        height: 2.5vw;
    }

    .reg-text {

        font-size: 3.5vw;
    }

    .primary-s {
        font-size: 2.2vw;
        padding: 1.4vw 1.4vw;
        margin-top: 2.5vw;
        margin-right: 1vw;
    }

    .secondary {
        font-size: 2.2vw;
        padding: 1.4vw 1.4vw;
        margin-top: 2.5vw;
    }
    .hr {
        margin-top: 2vh;
        margin-bottom: 2vh;

    }
}