/* Add margin & padding to different elements to make the overall component spaced */

.sports-container {
    --primary-color: #ffcc32;
    --secondary-color: red;
    border: 2px solid var(--secondary-color);
    display: flex;
    justify-content: space-between;
    background-color: white;
}



.sports-heading {
    margin-top: 2.5rem;
    margin-right: 60px;
    font-family: 'SF Sports Night';
    color: var(--primary-color);
    font-size: 51px;
}

.reg {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
}

.reg img {
    margin-right: 5px;

}

.reg-text {
    font-family: 'SF Sports Upright';
    font-size: 28px;
    color: black;
    margin: 0 5px;
    margin-bottom: 1px;

}

.left-column,
.right-column {
    flex: 1;
    margin-left: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.fee {
    border: 1px solid black;
    line-height: 0.8;
    display: flex;
    color: #000;
    box-sizing: border-box;
    width: 256px;
    justify-content: space-evenly;
}

.fees {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 24px;
    font-family: 'SF Sports Upright';
    margin-top: 10px;
}

.team {
    color: black;
    font-size: 12px;
    font-family: 'DM Sans';
    margin-bottom: 10px;
}

.cate {
    color: black;
    font-size: 18px;
    font-family: 'SF Sports Upright';
    margin-top: 10px;
}

.cate-fees {
    color: var(--primary-color);
    font-size: 18px;
    font-family: 'DM Sans';
}

.buttons {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
}

.primary {
    /* Primary button css goes here */
    background-color: var(--primary-color);
    ;
    background-color: var(--primary-color);
    ;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 15px;
    margin-right: 10px;
    width: 135px;
}

.secondary {
    border: var(--primary-color) 2px solid;
    background-color: white;
    color: var(--primary-color);
    border-radius: 2px;
    font-size: 16px;
    padding: 5px 10px;
    margin-top: 15px;
    width: 135px;
}

.details {
    color: black;
    font-size: 16px;
    font-family: 'DM Sans';
    margin-top: 10px;
    margin-bottom: 10px;
}

.amount {
    color: black;
    font-size: 12px;
    font-family: 'DM Sans';
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
}

.winner {
    margin-right: 1rem;
}

.schedule {
    display: flex;
    margin-bottom: 10px;
    vertical-align: baseline;
}

.sch-text {
    color: black;
    font-size: 16px;
    font-family: 'DM Sans';
    margin-right: 0.25rem;

}

a {
    font-size: 16px;
}

a:active {
    color: var(--primary-color);
    text-decoration: underline;
}

a:link {
    color: var(--primary-color);
    text-decoration: underline;
}

a:visited {
    color: var(--primary-color);
    text-decoration: underline;
}

a:hover {
    color: var(--secondary-color) !important;
    text-decoration: underline;
}

.info {
    display: flex;
    font-size: 12px;
    justify-content: center;
}

.vertical-line {
    border-left: 1px solid black;
    height: 100%;
    width: 1px;
    /* Occupy the height of the parent div */
}

.cinfo {
    flex: 1;
    display: flex;
    /* padding: 0rem 0.1rem; */
}

.cinfo p {
    padding: 0rem 0.2rem;
}

.name {
    font-weight: 700;
}


.hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.coord-text {
    color: black;
    font-size: 16px;
    font-family: 'DM Sans';

}