.basketballScore {
    display: flex;
    border-right: 9px solid #ffb800;
    border-left: 9px solid #ffb800;
    background-color: #FFF7E0;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    padding: 1.5vw;
    align-items: center;
}

.teamnames {
    color: black;
    font-family: 'Outfit';
    font-weight: 500;
    font-size: 1rem;

}

.ScoreInformation {
    display: flex;
}

.ScoreofScore {
    transform: skew(15deg);
}

.Score1 {
    font-size: 1.3rem;
    font-family: "Outfit";
    font-weight: 800;
    color: white;
    background-color: #ee0942;
    height: 120%;
    padding: 0.4vw 2vw;
    transform: skew(-15deg);
}

.Score2 {
    font-size: 1.3rem;
    font-weight: 800;
    font-family: "Outfit";
    color: white;
    background-color: #3f3f43;
    height: 120%;
    padding: 0.4vw 2vw;
    transform: skew(-15deg);
}

.table {
    border-collapse: collapse;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    color: black;
    font-family: 'Outfit';
    font-weight: 500;
}

td {
    text-align: center;
    height: 50px;
    padding: 1.5vw;
    padding-right: 2.5vw;

}

tr:nth-child(even) {
    background-color: #FFEEBD;
}

tr:nth-child(odd) {
    background-color: #FFF7E0;
}

.tableborder {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

@media screen and (max-width: 768px) {
    .basketballScore {
        flex-direction: column;
        gap: 1rem;

    }
    .Score1, .Score2 {
        font-size: 1rem;
      
    }
}