.WholeContent{
    color: black;
    width: 70vw;
    border: 0px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
    border-left: 6px solid red;
    border-right: 6px solid red;
}
.BlackBox{
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
    text-align: center;
}
.LightPink{
    background-color: #FFF1F5;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    height:20vh;
    text-align: center;
    align-items: center;
}
.DarkPink{
    background-color: #FFC9D8;
    display:flex;
    justify-content: center;
    justify-content: space-between;
    height:27vh;
    text-align: center;
    align-items: center;
}
.GreenBox{
    background-color: #40BD21;
    flex: 1;
    text-align: center;
    color: white;
}
.RedBox{
    background-color: #F81111;
    text-align: center;
    color: white;
}
.DarkPink1{
    flex: 1;
    text-align: center;
    height: auto;
    min-height: 100%;
    border-left: 1px solid black;
}

.set1{
    flex: 1;
    justify-content: center;
    text-align: center;
}
.LightPink1{
    border-left: 1px solid black;
    flex: 1;
    text-align: center;
    align-items: center;
    align-self: center;
    height: auto;
    min-height: 100%;
}

.LightPink1 img {
    height: 5rem;
    width: 5rem;
}


@media only screen and (max-width: 600px){
.LightPink1 img, .DarkPink1 img {
    height: 3rem;
    width: 3rem;
}
}
