.results-navContainer{
    padding-top: 15vh;
    justify-content: center;
    margin-left: 20%;
    width: 100%;
    height: max-content;
}
.divContainer{
    color: black;
}
.results-navContainer>ul{
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Outfit',sans-serif;
    
    padding: 0 10%;
    font-size: 28px;
    list-style-type: none;
}
.results-navContainer>ul>li{
    background-color: rgba(0, 0, 0, 0.29);
    border-right: 1px solid black;
    padding:0 3%;
    
}