@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.footballScore {
    display: flex;
    border-right: 9px solid rgba(238, 9, 66, 1);
    border-left: 9px solid rgba(238, 9, 66, 1);
    background-color: #FFF7E0;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    padding: 1.5vw;
    align-items: center;
}

.table {
    display: flex;
    background-color: rgba(255, 241, 245, 1);
    width: 65vw;
    padding:  4vh 0vh;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: black;
    font-family: 'Outfit';
    font-weight: 500;
}
.table>.tableColumn{
    border-top: 1px solid red;
    font-family: "Outfit",sans-serif;
    border-bottom: 1px solid red;
    padding-top: 2vw;
    padding-left: 6vw;
    width: 50%;
    display: flex;
    min-height: 35vh;
    max-height: max-content ;
    justify-content: flex-start;
}
.table>.tableColumn:nth-child(1){
    border-right: 1px solid red;
}
.table>.tableColumn>ul{
    width: 80%;
}
.table>.tableColumn>ul>li>div{
    
    display: flex;
    width: 80%;
    justify-content: space-between;

}

.table>.tableColumn>ul>li>div>span:nth-child(2){
    color: red;
    

}

td {
    text-align: center;
    height: 50px;
    padding: 1.5vw;
    padding-right: 2.5vw;

}

tr:nth-child(even) {
    background-color: #FFEEBD;
}

tr:nth-child(odd) {
    background-color: #FFF7E0;
}

.tableborder {
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.FootballFooter {
    font-size: 1rem;
    font-family: "Outfit";
    color: white;
    background-color: #1f1f21;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    width: 80vw;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}


@media screen and (max-width: 768px) {
    .footballScore {
        flex-direction: column;
        gap: 1rem;

    }
/*    .Score1, .Score2 {
        font-size: 1rem;
      
    } */
} 