
.DevelopersSection{
    position: relative;
    width:100vw;
    margin: 0;
    padding: 5em 0;
}
.developers{
    display: flex;
    margin-top: 3%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.developer>img, .developer>h1{
    cursor: pointer;
}
.developer{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.836));
    width: 15%;
}
.developer:hover{
    transform: scale(1.1);
    transition:0.7s;
}
@media only screen and (max-width: 1024px){
    .developers{
        flex-direction: column;
        height: 100vh;
        margin-top: 10%;
    }
    .developer{
        width: 30%;
        margin: 3%;
    }
}