@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.whole{
    width:100vw;
    line-height: 5vh;
    margin-top: 5vh;
}
.Heading1{
    font-family: 'Outfit',sans-serif;
    font-size: 64px;
    font-weight:900;
    height:81px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;

}
.Heading2{
    font-family: 'Outfit', sans-serif;
    font-size: 32px;
    margin: 2.5vh 0;
    font-weight: 800;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}
.FacultyCard{
 display: flex;
 justify-content: center;
 align-items: center;
}
.StudentCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2rem;
    /* column-gap: 3rem; */
    
}

.StudentCard .TeamCard {
    flex-basis: 50%; /* Calculate width for three items in a row with gap */
}