nav {
    background-color: #FFFFFF;
    width: 100vw;
    height: 5rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    max-width: 100vw;
    z-index: 100;
    top: 0;
}
nav li{
    text-decoration: none;
    color: #000;

}
nav li:hover{
    font-weight: 600;
    cursor: pointer;
}
.center-button a{
    text-decoration: none;
}
.center-button{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.center-button li{
    color: #000;
    font-size: 1.5rem;
    padding: 20px;

}

.nav-button {
    padding: 20px;
    cursor: pointer;
    font-size: 2rem;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    opacity: 0;
    visibility: hidden;
}

.main-nav{
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    width: 100%;
    padding: 0 15px;
}

.main-nav .reg-nav-button{
    margin-left: 50px;
    padding: 5px 20px;
    color: white;
    list-style: none;
    background-color: #EE0942;
    border-radius: 5px;
}

.nav-logo-container{
    display: none;
    visibility: hidden;
    opacity: 0;
}

@media only screen and (max-width: 1024px){
    .nav-button {
        opacity: 1;
        visibility: visible;
    }

    .main-nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        transform: translateX(100%);
        transition: 1s;
    }
    
    .show-nav{
        transform: none;
    }

    .nav-close-button {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .center-button {
        flex-direction: column;
    
    }

    .nav-logo-container{
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 100vw;
    }

    .nav-logo-container img{
        height: 3rem;
        margin: 10px 10px;
    }

    .main-nav .reg-nav-button{
        margin-left: 0;
    }
}

.logo {
    height: 5rem;
    padding: .5rem 1rem;
}

.logo-left{
    height: 5rem;
    margin-left: 5vw;
}

