/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ee0942;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 

.centered{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.centered li {
    margin: 0 1vw;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.centered li:last-child {
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px;
}
 */

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  ul.centered {
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  ul.centered>li>a{
    text-decoration: none;
  }
  ul.centered li {
    margin: 0 1rem;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
  }
  
  ul.centered li:hover {
    color: #000000;
    font-weight: 600;
    transition: all 0.1s;
    cursor: pointer;
  }
  
  button {
    color: #fff;
    border: none;
    background-color: #ee0942;
    padding: 0.7rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Outfit',sans-serif;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* button:hover {
    background-color: #f2f2f2;
  } */
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .hamburger-menu {
      display: block;
    }
  
    ul.centered {
      position: fixed;
      top: 10vh;
      left: -100%;
      width: 100%;
      background-color: #fff;
      flex-direction: column;
      padding: 1rem;
      border-top: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transform: translateY(100%);
      transition: transform 0.3s ;
    }
  
    ul.centered.open {
      align-items: center;
      justify-content: center;
      top: 6vh;
      height: 94vh; 
      transform: translateX(100%);
    }
    ul.centered.open>li>a{
      font-size: 32px;
    }
  
    ul.centered li {
      margin: 0.5rem 0;
    }
    button {
      font-family: 'Outfit',sans-serif;
      font-weight: 600;
      margin-top: 20px;
      height: 8vh;
      width: 40vw;
      font-size: 24px;
    }
  }