.main-container-d{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    position: relative;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    z-index: 1;
    margin-bottom: 20rem;
}

.logo_1 {
    height: 80px;
    padding: 10px;
    margin: 70px 10px 10px 10px;
    grid-row: 1/span 2;
    grid-column: 2/span 3;
}

.logo_2 {
    height: 80px;
    padding: 10px;
    margin: 70px 10px 10px 10px;
    grid-row: 1/span 2 ;
    grid-column: 3/span 4;
}

.logo_3 {
    height: 80px;
    padding: 10px;
    margin: 70px 10px 10px 10px;
    grid-row: 1/span 2 ;
    grid-column: 4/span 5;
}

.left{
    width: 40vw;
}

.left-container {
    grid-column: 2 / span 4;
    margin-top: 4rem;
    grid-row: 2/span 6 ;
}

.center {
    width: 67vw;
}

.center-container {
    grid-column: 4 / span 8;
    margin-top: 4rem;
    grid-row: 2 / span 6;
}

.right{
    width:8vw;
}

.right-container {
    grid-column: 11 / span 8;
    margin-top: 4rem;
    grid-row: 2/ span 6;
}

.primary {
    background-color: #ee0942;
    border-radius: 0;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    transform: skew(-10deg);
}   

@media only screen  and (max-width: 1200px){ 
    .main-container-d {
        /* height: 50vh; */
        margin-bottom: 10rem;
    }
}

@media only screen  and (max-width: 1000px){ 
    .main-container-d {
        height: 40vh;
        margin-bottom: 0rem;
    }
}

/* @media only screen and (min-width: 768px) and (max-width: 959px) {
    .main-container-d {
        height: 40vh;
    }
  }

  @media only screen and (min-width: 960px) and (max-width: 1279px) {
    .main-container-d {
        height: 50vh;
    }
  }

  @media only screen and (min-width: 1280px) {
    .main-container-d {
        height: 62vh;
    }
  } */