.contentBox{
    --color: #ffcc32;
    --topCol : #fff7e0;
    --bottomCol : #ffeebd;
}

.yellow{
    --color: #ffcc32;
    --topCol : #fff7e0;
    --bottomCol : #ffeebd;
}

.purple{
    --color: #7f1bb6;
    --topCol : #f7eaff;
    --bottomCol : #eac9ff;
}

.red{
    --color: #ee0942;
    --topCol : #fff1f5;
    --bottomCol : #ffc9d8;
}

.contentBox{
    color: black;
    width: 50vw;
    border: 0px 15px 0px 15px;
    margin-left: auto;
    margin-right: auto;
    border-left: 6px solid var(--color);
    border-right: 6px solid var(--color);
    text-transform: uppercase;
}
.topRow,  .firstRow, .secondRow{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.topRow th{
    background-color: black;
    color: white;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.topRow th:nth-child(1){
    align-items: stretch;
}

.firstRow td{
    background-color: var(--topCol);
    color: black;
    font-weight: bold;
    width: 25%;
    padding: 0;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.secondRow td{
    background-color: var(--bottomCol);
    color: black;
    font-weight: bold;
    width: 25%; 
    padding: 0;
    height: 80px;
    justify-content:center;
    align-items: center;
}

.table-content-data > :first-child:last-child {
    margin: 0; /* Remove margin when there's only one child */
}

.table-content-data > :first-child {
    margin-top: 0px; /* Push first child to the left edge */
}

.table-content-data > :last-child {
    margin-bottom: auto; /* Push last child to the right edge */
}


.result-declare{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    width: 100%;
}

.table-heading, .table-content-data{
    flex: 1;
    color: white;
    background-color: transparent;
    display:flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}
.playing{
    background-color: rgb(255, 191, 0);
    flex: 1;
    text-align: center;
    color: white;
}
.won{
    background-color: #40BD21;
    height: 40px;
    text-align: center;
    color: white;
}
.lost{
    background-color: #F81111;
    text-align: center;
    color: white;
    height: 40px;
}

@media only screen and (max-width : 768px){
    .contentBox{
        color: black;
        width: 80vw;
    }
}