.cards-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.cards-container h1 {
    color: black;
    align-items: center;
    justify-content: center;
}

.cards-container p {
    color: black;
    align-items: center;
    justify-content: center;
}
.cards {
    /* display: flex; */
    align-items: center;
    justify-content: center;
}

.cards img {
    height: 50vh;
    padding: 1rem;
}
.apply {
    background-color: #ee0942;
    border-radius: 0;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 15px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    transform: skew(-10deg);
}

@media only screen  and (max-width: 1200px) {
    .cards img {
        height: 40vh;
    }
}

@media only screen  and (max-width: 1000px) {
    .cards img {
        height: 35vh;
    }
}

/* @media only screen  and (max-width: 768px) {
    .cards::-webkit-scrollbar {
        display: none;
      }
      
      Hide scrollbar for IE, Edge and Firefox
    .cards {
        -ms-overflow-style: none;  IE and Edge
        scrollbar-width: none;  Firefox
      }
    
    .cards {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        justify-content: start;
        align-items: start;
    }
    .cards img {
        height: 30vh;
        width: auto;
    }
} */

@media only screen  and (max-width: 768px) {
    .cards img {
        height: 30vh;
    }
}