@font-face {
    font-family: 'SF Sports Night';
    src: url('./fonts/SF/SF Sports Night NS.ttf') format('truetype');
}

@font-face {
    font-family: 'SF Sports Upright';
    src: url('./fonts/SF/SF Sports Night NS Upright.ttf') format('truetype');
}

@font-face {
    font-family: 'DM Sans';
    src: url('./fonts/DM/DMSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Outfit";
    src: url('./fonts/outfit/Outfit-Bold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    overflow-x: hidden;
}
*:hover{
    cursor:default;
}
button{
    cursor:pointer;
    border: none;
}

body{
    background-color: white;
    width: 100vw;
    height: 100%;
    background-image: url('./assets/effect.png');
    background-repeat: repeat-y;
    background-size: cover;
    background-attachment: fixed;

}