.parent-container {
    width: 100vw;
    padding: 0 2rem;
}

.allsports {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 30px;
    column-gap: 1rem;
    row-gap: 2rem;
}