.team-head-name {
    color: black;
    font-family: 'Outfit';
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

.score-slant-container{
    display: flex;
}

.score-slant-score {
    transform: skew(15deg);
}

.score-slant-1 {
    font-size: 1.3rem;
    font-family: "Outfit";
    font-weight: 800;
    color: white;
    background-color: #ee0942;
    padding: 1vw 5vw;
    transform: skew(-15deg);
}
.score-slant-2 {
    font-size: 1.3rem;
    font-weight: 800;
    font-family: "Outfit";
    color: white;
    background-color: #3f3f43;
    padding: 1vw 5vw;
    transform: skew(-15deg);
}