
.optionsContainer{
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    font-family: 'Outfit ';
    font-size: 28px;
    margin-top: 2vh;
    transform: skew(-15deg);
}

.inactive{
    background-color: rgba(254, 235, 197, 1);
    color: rgba(238, 9, 66, 1); 
}
.active{
    background-color: rgba(238, 9, 66, 1);
    color: white;
    transform: scaleY(1.25);
}